.App {
  background: #1a1a1b;
  min-height: 100vh;
  padding: 15px;
}

.list-wrapper {
  display: flex;
}

.list {
  width: 260px;
  height: max-content;
  margin-right: 15px;

  background: #0d0d0f;
  color: white;
}

.header {
  width: calc(100% - 30px);
  height: 40px;
  padding: 0 15px;

  display: flex;
  align-items: center;
}

.footer {
  width: calc(100% - 30px);
  height: 40px;
  padding: 0 15px;
  
  display: flex;
  align-items: center;
}

.content {
  width: calc(100% - 20px);
  padding: 10px;
}

.item {
  background: #32323f;
  
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 0;
  position: relative;
}

.drop-zone {
  position: absolute;
  /* background: rgba(0, 0, 0, 0.30);  */
  top: 0;
  left: 0;
  height: 28px;
  width: 100%;
}
