.App {
  background: var(--main-highlight);
  min-height: 100vh;
  padding: 15px;
}

.list-wrapper {
  display: flex;
}

.list {
  width: 260px;
  height: max-content;
  margin-right: 15px;

  background: var(--main-dark);
  color: white;
  position: relative;
}

.header {
  width: calc(100% - 30px);
  height: 40px;
  padding: 0 15px;

  display: flex;
  align-items: center;
}

.footer {
  width: calc(100% - 30px);
  height: 40px;
  padding: 0 15px;
  
  display: flex;
  align-items: center;
}

.content {
  width: calc(100% - 20px);
  padding: 10px;
}

.item {
  background: var(--main-dark-200);
  
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 0;
  position: relative;
}

.dragging {
  background: var(--main-dark-400);
  color: var(--main-dark-400);
}

.dragging *:not(.drag-zone) {
  background: var(--main-dark-400);
  color: var(--main-dark-400);
}

.drop-zone {
  position: absolute;
  /* background: rgba(0, 0, 0, 0.30);  */
  top: 0;
  left: 0;
  height: 28px;
  width: 100%;
}

.drag-zone {
  position: absolute;
  /* background: rgba(0, 0, 0, 0.30);  */
  top: 0;
  left: 0;
  height: 32px;
  width: 100%;
  z-index: 0;
  cursor: grab;
}